<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.provider.Telephony.SEND_SMS" />
    <uses-permission android:name="android.provider.Telephony.SMS_RECEIVED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProject_ELHABHAB"
        tools:targetApi="31">

        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCQ9dji9S5KMHSM0MdRu3WpNzsoOvEqZb4" />
        <!--
               <activity
                   android:name=".MapsActivity"
                   android:exported="true"
                   android:label="@string/title_activity_maps">
                   <intent-filter>
                       <action android:name="android.intent.action.MAIN" />

                       <category android:name="android.intent.category.LAUNCHER" />
                   </intent-filter>
               </activity>
        -->
        <activity
            android:name=".loading.Loading_Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Email.Email_Activity"
            android:exported="false" />
        <activity
            android:name=".SMS.MSG_Activity"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".call.Call_Activity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Transaction.TransactionDetailsActivity"
            android:exported="false"
            android:parentActivityName=".Transaction.ListViewActivity" />
        <activity
            android:name=".FindDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".Transaction.Transaction"
            android:exported="false" />
        <activity
            android:name=".Transaction.ListViewActivity"
            android:exported="false"
            android:parentActivityName=".Home" />
        <activity
            android:name=".Auth.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Maps.Localisation_Maps"
            android:exported="false" />

        <activity
            android:name=".Camera.Camera_Activity"
            android:exported="false" />
    </application>

</manifest>